@charset "UTF-8";
html{
	-ms-text-size-adjust: 100%;
 	-webkit-text-size-adjust: 100%;
 	-moz-text-size-adjust: 100%;
  font-size:x-small;
}
header, div{
	outline:none;
}
html,
body {
  @extend %bodyCopy;

}

body {
  height: 100%;
  background-color: $dino-02;
  color: $dino-01;
}


a,
a:focus,
a:hover {
  color: $dino-01;
  text-decoration:none;
}
