// Include family fonts

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

$open-sans: 'Open Sans', sans-serif;

$reset-font-size: 1rem;

%bodyCopy {
	font-family: $open-sans;
	font-size: $reset-font-size;
	line-height: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
