@charset "UTF-8";
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: $dino-02;
  text-shadow: none; // Prevent inheritance from `body`
  background-color: $dino-01;
  border: .05rem solid $dino-01;
}
