@charset "UTF-8";

pre{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    white-space: pre;
    text-align: initial;
    height:15.5rem;
    margin:0 0 2rem 0;

  code.ascii{
      font-family:monospace;
      color: $dino-01;
  }
  &.bro{
    font-size:76%;
  }

  @media (map-get($rd-types, lg)){
    height:236px;
    max-height:236px;
    overflow: hidden;
    margin:0 0 25px 0;
    padding:0;

    code.ascii{
      display:block;
      width:80%;
      margin:0 auto;
      height:236px;
      max-height:236px;
      overflow: hidden;
    }

    &.ank{
      font-size:92%;
      .ascii{
        padding:0 34px;
      }
    }
    &.bro{
      font-size:61%;
      .ascii{
        padding:0 34px;
      }
    }
    &.pte{
      font-size:66%;
      .ascii{
        padding:0 65px;
      }
    }
    &.ste {
      font-size:82%;
      .ascii{
        padding:0 20px;
      }
    }
  }
}
