@charset "UTF-8";

pre{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    white-space: pre;
    text-align: initial;
    height:15.5rem;
    margin:0 0 2rem 0;

  code.ascii{
    font-family:monospace;
    color: $dino-01;
  }
  &.bro{
    font-size:76%;
  }
  &.ste{
    font-size:90%;
  }

  @media (map-get($rd-types, lg)){
    height:23.6rem;
    width:47%;
    overflow: hidden;
    margin:0;
    padding:0;

    code.ascii{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      overflow: hidden;
      width: 100%;
    }

    &.ank{
      font-size:initial;
    }
    &.bro{
      font-size:initial;
    }

    &.pte{
      font-size:initial;
    }
    &.ste {
      font-size:initial;
    }
  }
}
