@charset "UTF-8";
header{
 padding:1rem;
  h1{
    font-size:2rem;
  }

  nav{
    ul {
      li{
        margin:0 0 0.5rem 0;
        &.active{
          border-bottom:0.1rem solid $dino-01;
        }
      }
      a{
        font-size:1.4rem;
      }
    }
  }

  @media (map-get($rd-types, md)){
    h1{
      font-size:3.6rem;
    }
  }
  @media (map-get($rd-types, lg)){
    ul{
      li{
        display:inline-block;
      }
    }
  }
}


